* {
    scroll-behavior: smooth;
  }
  .navbar {
    background-color: #3c4d6b;
  }
  .logo img{
    width:40px;
  }
  .logo{
    font-family: "Jost", sans-serif; 
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 30px;
  }

  .navbar .btn,
.navbar .btn:focus {
  padding: 8px 20px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #4314B6;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}
.navbar .btn1{
  padding: 8px 20px;
  margin-left: 10px;
  border-radius: 5px;
  color: white;
  background-color: rgba(29, 29, 32, 1);
  border:1px solid  rgba(82, 82, 90, 1);;
  font-size: 14px;
  font-weight: 600;
}
.navbar .btn2,
.navbar .btn2:focus{
  padding: 8px 20px;
  margin-left: 10px;
  border-radius: 5px;
  color: white;
  background-color: rgb(237, 47, 47);
  font-size: 14px;
  font-weight: 600;
}
  .form {
    padding: 20px;;
  }
  .side1{
    background-color:rgb(255, 253, 253); 
    margin: 0PX; 
    padding: 0PX;
    overflow-y:auto;
    position: relative;
    height: 652px;
   }
   .panel2{
    margin-top: 20px;
    margin-left: 20px;
    background-color:rgb(255, 255, 255); 
    overflow-y:auto;
    height: auto;
   }
   
   .side2{
    background-color:#f0ecec; 
    position: relative;
    padding: 0PX;
    overflow-y:auto;
    height: 652px;
   }
   .panel{
    padding-top: 3px;
    margin-top: 75px;
    background-color:rgb(255, 255, 255); 
    overflow-y:auto;
    height: 500px;
    border: 2px solid ;
    font-size: 15px;
    line-height: 15px;
    margin-left: 25px;
    margin-right: 25px;
   }
   @media (max-width:570px) {
    .panel{
      margin-left: 10%!important;
      width :80%!important;
    }
    .panel2{
      margin-left: 0px!important;
    }
  
   }
   .fa-arrow-right{
    margin-left: 85%;
    margin-top: 50%;
  }
.subm button{
  width: 125px;
}
.search-bar {
  position: relative;
}

.search-bar input[type="text"] {
  padding-right: 30px;
}

.search-bar i.fa-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}